<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Graphics</key>
        <dict>
            <key>3</key>
            <string>Figures\/magicstudio-art.jpg</string>
            <key>4</key>
            <string>Figures\/papir.jpg</string>
            <key>5</key>
            <string>Figures\/zelena.jpg</string>
            <key>6</key>
            <string>Figures\/ljubi.jpg</string>
            <key>7</key>
            <string>Figures\/osobe.jpg</string>
        </dict>
        <key>Sounds</key>
        <dict>
            <key>8</key>
            <string>Sounds\/Hear.ogg</string>
        </dict>
    </dict>
</plist>
